.content { float:left; width:92%; margin:0 4%; padding: 20px 0; }


/*HEADER*/
.main_header          { background:#ffffff; border-bottom:1px #f4f4f4 solid; z-index:1; padding: 0.5em 0em; }
.main_header .content { float:left; padding:0px 0; }

.fixed            { display:block; position:fixed; z-index:9;  }
.main_header_logo { text-align:center; margin:auto; float:none; width:138px; }
.main_header_logo img { height:69px; }


/*Seu Código*/
.section-seu-codigo          { padding:10px 0px; background-color:#f4f4f4; }
.section-seu-codigo .content { float:left; padding:1em 0; }
.section_title               { width: 100%; float:left; margin-bottom:1em; font-size:1.3em; font-weight: 300; text-align: center; border-bottom: 1px #eceaea solid; padding-bottom: 1em; }

.box-artigo   { width:100%; float:left; background:#fff; box-shadow: 1px 0px 1.2px 0px #e3e3e3; border-radius:3px; padding:1em; }

/*Botão Share*/
.toggle{

    width: 55px;
    height: 55px;
    background-color: #008FE6;
    color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.toggle::before{

    content: '\e159';
    width: 100%;
    height: 100%;
    position: absolute;
    color: white;
    font-family: 'untitled-font-1';
    text-align: center;
    line-height: 55px;
    font-size: 20px;
    transition:0.5s;
}

.btn-share.ativo .toggle::before{
   
   background-color:#373939;
   color: #ffffff;
   transition:0.5s;

}

.btn-share{ 

    margin:auto; 
    width:50px; 
    height:50px; 

}

.btn-share ol{
    position: absolute;
    margin: 2px;
    width: 50px;
    height: 50px;
}

.btn-share ol li{
    
    position: absolute;
    width: 50px;
    height: 50px;
    line-height: 55px;
    background: #FAFAFA;
    display: block;
    border-radius: 50%;
    transition: all .5s;
    text-align: center;
}

.btn-share ol li a{
    
    font-size:1.3em;
    text-decoration:none;
    color:#fff;
}

.btn-share.ativo ol li{
    transform: translate(0);
    transition: all 0.4s;
}

.btn-share.ativo ol li:nth-child(1){
    
    transition-delay: 0.4s;
    transform: translateX(-60px);
    background-color:#3b5998;

}

.btn-share.ativo ol li:nth-child(2){

    transition-delay: 0.3s;
    transform: translateX(-120px);

    /*Degradê do Instagram*/
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);

}

.btn-share.ativo ol li:nth-child(3){

    transition-delay: 0.2s;
    transform: translateX(-180px);
    background-color:#34af23;

}

.btn-share.ativo ol li:nth-child(4){

    transition-delay: 0.1s;
    transform: translateX(-240px);
    background-color:#00acee;

}
/*Botão Share*/


/*FOOTER*/
.main_footer          { background-color:#353535; color:#fff; font-size:0.875em; }
.main_footer .content { padding:3em 0em; }

.main_footer_copy       { background-color:#262626; width:100%; float:left; text-align:center; padding:1.5em 0em; }
.main_footer_copy p     { font-family:'open_sanslight'; font-size:1em; color:#e1e0e0; height:20px; }
.main_footer_copy .m-b-footer   { margin-bottom:0.5em; }
.main_footer_copy .by   { font-size:0.96em; }
.main_footer_copy .by i { font-size:0.96em; margin-right:3px; color:#e82626; }


/*Começa o Responsivo*/

/*480PX BREAKPOINT*/
/*480 dividido por 16 = 30em*/
@media (min-width:30em){

.boxBannerTopo { padding:1em 0; }

}

/*600PX BREAKPOINT*/
/*600 dividido por 16 = 37,5em*/
@media (min-width:37em){


} 

/*768PX BREAKPOINT*/
/*768 dividido por 16 = 48em*/
@media (min-width:48em){


} 

/*960PX BREAKPOINT*/
/*960 dividido por 16 = 60em*/
@media (min-width:60em){

 .section-seu-codigo          { padding:20px 0px; }
 .section-seu-codigo .content { width:80%; padding:1em 0; margin:0 10%; }

}

/*1280PX BREAKPOINT*/
/*1280 dividido por 16 = 80em*/
@media (min-width:80em){

 
}

/*1366PX BREAKPOINT*/
/*1366 dividido por 16 = 85,375em*/
@media (min-width:85em){

 .content  { width:80%; margin:0 10%; }

}

/*1600PX BREAKPOINT*/
/*1600 dividido por 16 = 100em*/
@media (min-width:100em){


}
/*Fecha o Responsivo*/
